/* ----------------------------------------------------------------
COLOUR PALETTE 
---------------------------------------------------------------- */

// MAIN COLOURS
$coral: hsl(0, 79%, 50%);
$fresh: hsl(85, 50%, 54%);
$ocean: hsl(195, 86%, 64%);
$hay: hsl(52, 61%, 57%);