/* ----------------------------------------------------------------
COLOUR PALETTE 
---------------------------------------------------------------- */

// MAIN COLOURS
$coral: rgb(235, 87, 87);
$fresh: rgb(149, 197, 80);
$ocean: rgb(86, 204, 242);
$hay:   rgb(212, 194, 80);