// FOOTER

.footer-wrapper {
    background-color: white;
    width: 100%;
}

.site-footer {
    background-color: white;
    color: black;
    display: flex;
    width: calc(100% - (40px * 2));
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding: $v-space * 2 40px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    letter-spacing: 1px;
    max-width: calc(#{$max-site-width} - (40px * 2));
    margin: 0 auto;
}

.copyright {
    width: 100%;
    text-align: center;
    margin: $v-space / 2 0;

    @media #{$medium-up} {
        width: 30%;
        text-align: left;
    }
}

.advice {
    width: 100%;
    text-align: center;
    font-style: italic;
    margin: $v-space / 2 0;

    @media #{$medium-up} {
        width: 70%;
        text-align: right;
    }
}