// SITE HEADER

// Wrapper for the site header element
.header-wrapper {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.site-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    max-height: 25vh;
    background: white;
    width: calc(100% - (40px * 2));
    padding: $v-space 40px $v-space / 2;
    max-width: calc(#{$max-site-width} - (40px * 2));
    margin: 0 auto;

    @media #{$medium-up}{
        padding: $v-space 40px;
    }

    h1.site-name {
        font-family: $headings;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 6px;
        font-size: 18px;
        line-height: 18px;
        margin: 0 0 $v-space / 2;
        display: inline-block;

        a {
            color: black;
            text-decoration: none;
            font-style: normal;
            border: 0;

            &:hover {
                color: $coral;
            }
        }

        @media #{$medium-up} {
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 10px;
        }
    }

    h2.site-sub-name {
        font-family: $headings;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
        margin: 0 0 $v-space;
        text-transform: uppercase;
        letter-spacing: 1px;

        @media #{$medium-up} {
            font-size: 14px;
            line-height: 14px;
            margin: 0;
        }
    }
}

.header-info {
    width: 100%;
    text-align: center;

    @media #{$medium-up} {
        width: 50%;
        text-align: left;
    }
}