// LINKS

nav a {
    &:link {
        text-decoration: none;
        color: $coral;
    }

    &:visited {
        color: $fresh;
    }

    &:hover,
    &:active {
        color: black;
        border-bottom: 2px solid black;
    }

    &:focus {
        border-bottom: 2px solid $coral;
    }
}