// LISTS

// General list spacing
ul, ol {
    margin: 0 0 $v-space;
    padding-left: 0;

    li {
        margin-bottom: $v-space / 4;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

// Unordered list style
ul {
    list-style: circle;
}

// Definition lists

dt {
    font-weight: 600;
    margin: 0 0 $v-space / 4;
    padding: 0;
}

dd {
    margin: 0 0 $v-space;
    padding: 0;
}

