// LISTS

// General list spacing
ul, ol {
    margin: 0 0 $v-space * 2;
    padding-left: 0;

    li {
        margin-bottom: $v-space / 2;
    }
}

// Unordered list style
ul {
    list-style: circle;
}