/* ----------------------------------------------------------------
PANELS - Boxouts for priority information 
---------------------------------------------------------------- */

// Base panel styling
.panel {
  background-color: white;
  padding: .5em 2em;
  border-left: .5em solid $ocean;
  margin: $v-space * 2 0;
  
  @media #{$medium-up}{
    border-left-width: 1em;
  }
}

// Panels for the rewind pages
.panel-rewind {
  @extend .panel;
  border-color: $hay; // Different border colour for rewind content
}

// Simple panel
.panel--simple {
  border: 2px solid rgba($ocean, .2);
  padding: 0 2em .5em;
  margin: $v-space * 2 0; 
}

// Outline panel
.panel--outline {
  background-color: white;
  border: 2px solid $ocean;
  padding: 1em 2em;
}

// Rewind panel outline
.panel-rewind--outline {
  @extend .panel--outline;
  border-color: $hay;
}

// Boxouts

.boxout {
  padding: 1em 2em;
  margin: $v-space * 2 0;
  background-color: rgba($hay, .2);
}