/* ----------------------------------------------------------------
PORTFOLIO - Portfolio entries 
---------------------------------------------------------------- */

.key-work {
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: center;
  padding: 1em 0;

  @media #{$medium-up} {
    padding: 0;
  }
}

.flex-wrapper {
  display: flex;
  padding: 0 $h-space * 2.5;
  width: 100%;
  flex-wrap: wrap;
  
  @media #{$medium-only} {
    width: 90%;
  }
  
  @media #{$large-up} {
    width: 50%;
  }
}

.portfolio {
  max-width: 100%;
  height: 15em;
  background-color: white;
  flex: 1 0 100%;
  margin: 1em 0;
  padding: 0;
  // padding-top: 56.25%; /* 16:9 Aspect Ratio */
  text-align: center;
  position: relative;

  @media #{$medium-up} {
    flex-basis: 50%;
    margin: 0;
    max-width: 50%; // Make the portfolio image a maximum of 1/4 the screen
  }

  h1 {
    font-size: 1.25em;
    line-height: 1;
    font-family: $headings;
    text-transform: uppercase;
    color: white;
    font-weight: normal;
    margin-bottom: 0;
  }

  a {
    font-style: normal;
  }
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);

  &:visited,
  &:hover,
  &:active,
  &:focus {
    background-color: $coral;
    // box-shadow:inset 0px 0px 0px 10px white;
  }
}

.entry-title {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.client {
  font-size: 0.8em;
  color: white;
}

// Background images
.origins {
  background-image: url('../assets/images/portfolio/origins-original.png');
  background-position: center;
  background-size: cover;
}

.application {
  background-image: url('../assets/images/portfolio/application-original.png');
  background-position: center;
  background-size: cover;
}

.lens {
  background-image: url('../assets/images/portfolio/lens-original.png');
  background-position: center;
  background-size: cover;
}

.typecase {
  background-image: url('../assets/images/portfolio/typecase-original.png');
  background-position: center;
  background-size: cover;
}


