// Karyx - Well seasoned
// 2018 - Dan Dineen

// Spacing
$v-space: 1em;
$h-space: 1em;

// BREAKPOINTS
// Mobile
$mobile-upper: 480px;
// Small - Phablets & small tablets
$small-lower: $mobile-upper + 1;
$small-upper: 640px;
// Standard tablets & small laptops
$medium-lower: $small-upper + 1;
$medium-upper: 1000px;
// Laptop and desktop
$large-lower: $medium-upper + 1;

// MEDIA QUERIES
// Target screens less than 480px
$mobile-only: "(min-width: 0) and (max-width: #{$mobile-upper})";
// Target screens between 481px and 640px
$small-only: "(min-width: #{$small-lower}) and (max-width: #{$small-upper})";
$small-up: "(min-width: #{$small-lower})";
// Target screens between 641px and 1000px
$medium-only: "(min-width: #{$medium-lower}) and (max-width: #{$medium-upper})";
$medium-up: "(min-width: #{$medium-lower})";
// Target screens 1000px +
$large-up: "(min-width: #{$large-lower})";

// Maximum site width
$max-site-width: 1200px;

// ELEMENT RULES

body {
    margin: 0;
    padding: 0;
}

// Body classes
.home {
    background: url(../images/triangle-test.svg) no-repeat top center;
}

.about {
    background: url(../images/scotch-bonnet.png) no-repeat center right, url(../images/about-bg.svg) no-repeat top center;
}

.work {
    background: url(../images/work-bg.svg) no-repeat top center;
}

.cv {
    background: url(../images/cv-bg.svg) no-repeat top center;
}

// STRUCTURAL
main {
    padding: 120px 40px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    width: calc(100% - (40px * 2));

    @media #{$medium-up} {
        max-width: calc(#{$max-site-width} - (40px * 2));
        padding: 140px 40px;
    }
}

.fifty {
    width: 100%;

    @media #{$medium-up} {
        width: 50%;
    }
}