/* ----------------------------------------------------------------
TYPOGRAPHY
---------------------------------------------------------------- */

/*
-----------------------------
Open Sans
-----------------------------
- Light 300
- Light 300 Italic
- Regular 400
- Regular 400 Italic
- Semi-bold 600
- Semi-bold 600 Italic
- Bold 700
- Bold 700 Italic
- Extra-bold 800
- Extra-bold 800 Italic

-----------------------------
Open Sans Condensed
-----------------------------
- Light 300
- Light 300 Italic
- Bold 700

-----------------------------
Zilla Slab
-----------------------------
- Regular 400
- Regular 400 Italic
- Bold 700
*/


// TYPE VARIABLES

$bodycopy: 'Zilla Slab', sans-serif;
$headings: 'Open Sans', sans-serif;
// $base-font-size: 18px;

// TYPOGRAPHIC DEFAULTS

// Body font
body {
    font-family: $bodycopy;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

// Paragraphs
p {
    margin: 0 0 $v-space;
}

// Strong emphasis
strong {
    font-weight: 700;
}

// STANDARD HEADINGS

h1 {
    color: $coral;
    font-family: $headings;
    margin-top: 0;
}

h2 {
    font-size: 1.6875em;
    font-weight: normal;
}

h3 {
    font-size: 1em;
    line-height: 1.5;

    @media #{$medium-up} {
        font-size: 1.5em;
        line-height: 2;
    }
}

h4 {
    font-family: $headings;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.5;
    margin: auto 0 $v-space / 2;

    @media #{$medium-up} {
        font-size: 1.125em;
    }
}

// SPECIAL HEADINGS

// Page header
.splash-header {
    color: black;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.5;
    letter-spacing: 1px;

    @media #{$medium-up} {
        font-size: 2em;
        line-height: 1.5;
    }

    // The focus heading
    span {
        font-size: 1.5em;
        line-height: 1.2;
        display: block;
        color: $coral;
        text-transform: uppercase;
        font-weight: 800;
        margin-bottom: $v-space / 2;

        @media #{$medium-up} {
            font-size: 1.5em;
        }
    }
}

// Styling for portfolio achievment headings
.achievement::before {
    content: "+";
    color: $coral;
    padding: 0 10px;
    margin-left: -30px;
}

// TYPOGRAPHIC COMBOS

// Italicise the first paragraph after an H1 or HR
h1 + p,
hr + p {
    font-style: italic;
}

// Space out sub-headings
p + h3 {
    margin-top: $v-space * 1.5;

    @media #{$medium-up} {
        margin-top: $v-space * 3;
    }
}