// Type sizes
/*
-----------------------------
Open Sans
-----------------------------
- Light 300
- Light 300 Italic
- Regular 400
- Regular 400 Italic
- Semi-bold 600
- Semi-bold 600 Italic
- Bold 700
- Bold 700 Italic
- Extra-bold 800
- Extra-bold 800 Italic

-----------------------------
Open Sans Condensed
-----------------------------
- Light 300
- Light 300 Italic
- Bold 700

-----------------------------
Zilla Slab
-----------------------------
- Regular 400
- Regular 400 Italic
- Bold 700
*/


// Type variable
$bodycopy: 'Zilla Slab', sans-serif;
$headings: 'Open Sans', sans-serif;

body {
    font-family: $bodycopy;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}

// Headings
h1 {
    font-family: $headings;
    color: $coral;
}

// The main page header
.splash-header {
    color: black;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;

    span {
        font-size: 36px;
        line-height: 44px;
        display: block;
        color: $coral;
        text-transform: uppercase;
        font-weight: 800;

        @media #{$medium-up} {
            font-size: 44px;
            line-height: 56px;
        }
    }

    @media #{$medium-up} {
        font-size: 36px;
        line-height: 44px;
    }
}